// News and Events

.column {
    @extend %content;
    // @media #{$brk-wide} {
    //     width: 100%;
    //   }
    //   @media #{$brk-narrow} {
    //     width: 5%;
        
      // }
@extend %clearfix;
}

.news {
    // @extend %columns;
    @media #{$brk-wide} {
      float: left;
      width: 50%;
    }
}

.events {
    // @extend %columns;
    @media #{$brk-wide} {
      float: right;
      width: 50%;
    }
}

// Success Stories

.story {
  margin: auto;
  display: block;
  width: 50%;
}