// Forms

.form {
    @extend %centered;
    padding: 10px 20px;
}


fieldset {
    @extend %centered;
    @extend %border-rounded;
    display: inline-block;
    border: 2px solid $color-prim;
    padding: 10px 1px;
    margin: 0 0 10px 0;
    width: 75%;
}

input,
textarea {
    @extend %centered;
    @extend %border-rounded;
    width: 300px;
    padding:5px;
    margin:10px 0;
    box-shadow: 0 0 1px 1px $grey;
  }

input[aria-invalid="true"], 
textarea[aria-invalid="true"] {
    border: 1px solid red;
    box-shadow: 0 0 4px 0 red;
}


// List toggle

#toggleList {
    @extend %centered;
    border: 1px solid $ming;
    cursor: pointer;
}
.list {
    @extend %centered;
    display: none;
    list-style-type: none;

}

.toggleSect{
    @extend %centered;
    display: block;
    color: $white;
    background-color: $new-york-pink;

}

.sect {
    @extend %centered;
    display: none;
}