footer {
    background: lighten($color-sec, 15%);
    background-size: cover;
    @extend %centered;
    display: flex;
    flex-direction: column;
    padding: 10px;
    a {
        @extend %centered;
        font-size: 1.2em;
        padding: 20px;
        display: inline;
    }
}